<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eliteparking"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="MainActivity"
            android:label="Elite Parking" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="InicioActivity"
            android:label="Elite Parking" >
            <intent-filter>
                <action android:name="Inicio" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="InfoActivity"
            android:label="Elite Parking" >
            <intent-filter>
                <action android:name="Info" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ChatActivity"
            android:label="Elite Parking" >
            <intent-filter>
                <action android:name="Chat" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="UbicacionActivity"
            android:label="Elite Parking" >
            <intent-filter>
                <action android:name="Ubicacion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="CalificacionActivity"
            android:label="Elite Parking" >
            <intent-filter>
                <action android:name="Calificacion" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>      
    </application>

</manifest>
